:root{
    --vermelho:#e50914;
    --preta:#141414;
}

body{
    background: var(--preta);
    font-family:'Arial',times,serif;
    color:white;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header .container{
   display:flex;
   flex-direction:row;
   align-items:center;
   justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color:var(--vermelho);
    font-family:'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right:10px;
    font-size:20px;
}

header nav a:hover{
    cursor:pointer;
    color:#fff;
}

.filme-principal{
    font-size:17px;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)100%) ,url('./suits.jpg');
    background-size:cover;
    height:460px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    
}

.filme-principal .descricao{
    margin-bottom:40px;
    margin-top:10px;
}

.titulo{
    margin-top:15%;
    font-size:70px;
    font-family:'Trebuchet MS';
}

.botao{
    background-color:rgba(0,0,0,.50);
    border:none;
    color:#fff;
    padding:15px 30px;
    margin-right:15px;
    font-size:12px;
    cursor:pointer;
    transition:.3s ease all;

}

.botao:hover{
    background-color:white;
    color:#000;
}

.botao i{
    margin-right:8px;
}

.container{
    margin-left:20px;
 
}

.filme-principal .container{
    width:70%;
}

.box-filme{
    width:30%;
    height:30%;
    display:block;
}

.carrosel-filmes{
    margin-top:5px;
}
/* responsive */

@media screen and (max-width:700px){
    header .container{
   display:flex;
   flex-direction:column;
    }
    
    .botao{
    margin-top:5px;
    width:300px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width:50%;
    }
}